- if notice
  %p#notice= notice

- if enough_visits(@visits)
  You have visited this page #{pluralize(@visits, 'time')}.

%h1 Your Pragmatic Catalog

- @products.each do |product|
  .entry
    = link_to(image_tag(product.image_url), line_items_path(:product_id => product), :method => :post)
    %h3= product.title
    = sanitize(product.description)
    .price_line
      %span.price= number_to_currency(product.price)
      = button_to 'Add to Cart', line_items_path(:product_id => product)
