!!! 5
%html
%head
  %title Pragprog Books Online Store
  = stylesheet_link_tag "scaffold"
  = stylesheet_link_tag "depot", :media => "all"
  = javascript_include_tag :defaults
  = csrf_meta_tag

%body#store
  #banner
    = image_tag("logo.png")
    = @page_title || "Pragmatic Bookshelf"
  #columns
    #side
      %a{ :href => "http://www...." } Home
      %br
      %a{ :href => "http://www..../faq" } Questions
      %br
      %a{ :href => "http://www..../news" } News
      %br
      %a{ :href => "http://www..../contact" } Contact
      %br
    #main
      = yield
  
  = debug(params) if Rails.env.development?  
